In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf

In [2]:
df=pd.read_csv("cleaned_data2.csv")
df.head()

,id,name,image_url,is_closed,url,review_count,rating,transactions,price,group_city,cuisines,latitude,longitude,state
0,a0IET3_yCFcO36OqGSsisg,Eataly NYC Flatiron,https://s3-media4.fl.yelpcdn.com/bphoto/1UDlnu...,False,https://www.yelp.com/biz/eataly-nyc-flatiron-n...,6102,4.0,"delivery, pickup",2,New York City,Italian,40.742101,-73.989922,NY
1,zj8Lq1T8KIC5zwFief15jg,Prince Street Pizza,https://s3-media4.fl.yelpcdn.com/bphoto/PfI8oV...,False,https://www.yelp.com/biz/prince-street-pizza-n...,5031,4.5,"delivery, pickup",1,New York City,Italian,40.723088,-73.994530,NY
2,16ZnHpuaaBt92XWeJHCC5A,Olio e Più,https://s3-media4.fl.yelpcdn.com/bphoto/CUpPgz...,False,https://www.yelp.com/biz/olio-e-pi%C3%B9-new-y...,4858,4.5,"delivery, pickup",2,New York City,Italian,40.733798,-73.999774,NY
3,vyoA8dxwScuMV_AsTcjQcg,L & B Spumoni Gardens,https://s3-media1.fl.yelpcdn.com/bphoto/hN5xKw...,False,https://www.yelp.com/biz/l-and-b-spumoni-garde...,4647,4.0,"delivery, pickup",2,New York City,Italian,40.594715,-73.981316,NY
4,22nKUyCIbpnzR6R3_g1ptQ,Carmine's Italian Restaurant - Times Square,https://s3-media1.fl.yelpcdn.com/bphoto/0UszeE...,False,https://www.yelp.com/biz/carmines-italian-rest...,4644,4.0,"delivery, pickup",2,New York City,Italian,40.757498,-73.986653,NY

In [3]:
df['delivery'] = df['transactions'].str.contains('delivery', case=False, na=False)
df['pickup'] = df['transactions'].str.contains('pickup', case=False, na=False)
df['restaurant_reservation'] = df['transactions'].str.contains('restaurant_reservation', case=False, na=False)

# Fill NaN values with False in the new columns
df['delivery'] = df['delivery'].fillna(False)
df['pickup'] = df['pickup'].fillna(False)
df['restaurant_reservation'] = df['restaurant_reservation'].fillna(False)

In [4]:
y = df["price"]
X=df.drop(columns=['price', 'image_url', 'url', 'id', 'name', 'transactions'])



X= X.fillna(0)

In [5]:
X= pd.get_dummies(X).astype(int)
X

,is_closed,review_count,rating,latitude,longitude,delivery,pickup,restaurant_reservation,group_city_Albuquerque,group_city_Arlington,...,state_ON,state_OR,state_PA,state_PE,state_SC,state_TN,state_TX,state_VA,state_WA,state_WI
0,0,6102,4,40,-73,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,5031,4,40,-73,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,4858,4,40,-73,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,4647,4,40,-73,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,4644,4,40,-73,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23541,0,1,3,41,-81,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23542,0,1,5,41,-81,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23543,0,1,5,41,-81,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23544,0,1,5,41,-81,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23545,0,1,3,41,-81,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.75, stratify=y)

In [7]:
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [8]:
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1= 10
hidden_nodes_layer2= 20
hidden_nodes_layer3= 10

nn = tf.keras.models.Sequential()

nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu')
)

#nn.add(
    #tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu')
#)

nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='relu')
)

nn.add(tf.keras.layers.Dense(units=1, activation= 'sigmoid'))

nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                1040

 dense_1 (Dense)             (None, 10)                110

 dense_2 (Dense)             (None, 1)                 11

=================================================================
Total params: 1161 (4.54 KB)
Trainable params: 1161 (4.54 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [9]:
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [10]:
fit_model= nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
184/184 [==============================] - 3s 3ms/step - loss: -0.7123 - accuracy: 0.2836
Epoch 2/50
184/184 [==============================] - 1s 4ms/step - loss: -14.2973 - accuracy: 0.3004
Epoch 3/50
184/184 [==============================] - 1s 4ms/step - loss: -76.3576 - accuracy: 0.3004
Epoch 4/50
184/184 [==============================] - 1s 3ms/step - loss: -231.9952 - accuracy: 0.3004
Epoch 5/50
184/184 [==============================] - 1s 4ms/step - loss: -508.4367 - accuracy: 0.3004
Epoch 6/50
184/184 [==============================] - 1s 4ms/step - loss: -924.0279 - accuracy: 0.3004
Epoch 7/50
184/184 [==============================] - 1s 5ms/step - loss: -1497.3585 - accuracy: 0.3004
Epoch 8/50
184/184 [==============================] - 1s 5ms/step - loss: -2246.5977 - accuracy: 0.3004
Epoch 9/50
184/184 [==============================] - 1s 4ms/step - loss: -3183.1768 - accuracy: 0.3004
Epoch 10/50
184/184 [==============================] - 1s 3ms/step - loss: -4318.0991 - accuracy: 0.3004
Epoch 11/50
184/184 [==============================] - 1s 3ms/step - loss: -5662.9189 - accuracy: 0.3004
Epoch 12/50
184/184 [==============================] - 1s 3ms/step - loss: -7229.2852 - accuracy: 0.3004
Epoch 13/50
184/184 [==============================] - 1s 3ms/step - loss: -9020.6611 - accuracy: 0.3004
Epoch 14/50
184/184 [==============================] - 1s 3ms/step - loss: -11038.6377 - accuracy: 0.3004
Epoch 15/50
184/184 [==============================] - 0s 3ms/step - loss: -13293.5654 - accuracy: 0.3004
Epoch 16/50
184/184 [==============================] - 1s 3ms/step - loss: -15791.9717 - accuracy: 0.3004
Epoch 17/50
184/184 [==============================] - 0s 2ms/step - loss: -18536.2988 - accuracy: 0.3004
Epoch 18/50
184/184 [==============================] - 1s 3ms/step - loss: -21531.7852 - accuracy: 0.3004
Epoch 19/50
184/184 [==============================] - 0s 2ms/step - loss: -24785.1523 - accuracy: 0.3004
Epoch 20/50
184/184 [==============================] - 0s 2ms/step - loss: -28312.1367 - accuracy: 0.3004
Epoch 21/50
184/184 [==============================] - 0s 2ms/step - loss: -32113.7012 - accuracy: 0.3004
Epoch 22/50
184/184 [==============================] - 0s 2ms/step - loss: -36177.6836 - accuracy: 0.3004
Epoch 23/50
184/184 [==============================] - 0s 2ms/step - loss: -40514.6602 - accuracy: 0.3004
Epoch 24/50
184/184 [==============================] - 0s 2ms/step - loss: -45142.3164 - accuracy: 0.3004
Epoch 25/50
184/184 [==============================] - 0s 2ms/step - loss: -50053.8398 - accuracy: 0.3004
Epoch 26/50
184/184 [==============================] - 1s 3ms/step - loss: -55253.7461 - accuracy: 0.3004
Epoch 27/50
184/184 [==============================] - 0s 2ms/step - loss: -60744.5391 - accuracy: 0.3004
Epoch 28/50
184/184 [==============================] - 0s 2ms/step - loss: -66544.5156 - accuracy: 0.3004
Epoch 29/50
184/184 [==============================] - 0s 2ms/step - loss: -72661.2734 - accuracy: 0.3004
Epoch 30/50
184/184 [==============================] - 0s 2ms/step - loss: -79105.5781 - accuracy: 0.3004
Epoch 31/50
184/184 [==============================] - 0s 2ms/step - loss: -85862.7500 - accuracy: 0.3004
Epoch 32/50
184/184 [==============================] - 1s 3ms/step - loss: -92949.2578 - accuracy: 0.3004
Epoch 33/50
184/184 [==============================] - 0s 2ms/step - loss: -100376.4609 - accuracy: 0.3004
Epoch 34/50
184/184 [==============================] - 0s 2ms/step - loss: -108129.9766 - accuracy: 0.3004
Epoch 35/50
184/184 [==============================] - 0s 2ms/step - loss: -116241.0781 - accuracy: 0.3004
Epoch 36/50
184/184 [==============================] - 0s 2ms/step - loss: -124700.9375 - accuracy: 0.3004
Epoch 37/50
184/184 [==============================] - 0s 2ms/step - loss: -133521.1250 - accuracy: 0.3004
Epoch 38/50
184/184 [==============================] - 0s 2ms/step - loss: -142686.8281 - accuracy: 0.3004
Epoch 39/50
184/184 [==============================] - 0s 3ms/step - loss: -152214.2656 - accuracy: 0.3004
Epoch 40/50
184/184 [==============================] - 0s 2ms/step - loss: -162120.8750 - accuracy: 0.3004
Epoch 41/50
184/184 [==============================] - 0s 2ms/step - loss: -172403.4688 - accuracy: 0.3004
Epoch 42/50
184/184 [==============================] - 0s 2ms/step - loss: -183070.1250 - accuracy: 0.3004
Epoch 43/50
184/184 [==============================] - 0s 2ms/step - loss: -194111.1094 - accuracy: 0.3004
Epoch 44/50
184/184 [==============================] - 0s 2ms/step - loss: -205556.8438 - accuracy: 0.3004
Epoch 45/50
184/184 [==============================] - 0s 2ms/step - loss: -217397.1875 - accuracy: 0.3004
Epoch 46/50
184/184 [==============================] - 0s 3ms/step - loss: -229643.8906 - accuracy: 0.3004
Epoch 47/50
184/184 [==============================] - 0s 2ms/step - loss: -242286.2344 - accuracy: 0.3004
Epoch 48/50
184/184 [==============================] - 0s 2ms/step - loss: -255317.6406 - accuracy: 0.3004
Epoch 49/50
184/184 [==============================] - 0s 2ms/step - loss: -268776.1250 - accuracy: 0.3004
Epoch 50/50
184/184 [==============================] - 0s 2ms/step - loss: -282660.9375 - accuracy: 0.3004

In [11]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

552/552 - 1s - loss: -2.8633e+05 - accuracy: 0.3003 - 1s/epoch - 2ms/step
Loss: -286327.625, Accuracy: 0.3003397583961487

In [12]:
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                1040

 dense_1 (Dense)             (None, 10)                110

 dense_2 (Dense)             (None, 1)                 11

=================================================================
Total params: 1161 (4.54 KB)
Trainable params: 1161 (4.54 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________