In [40]:
# Import modules
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
from pathlib import Path
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier

In [41]:
file_path = Path("Data/cleaned_data.csv")
df= pd.read_csv(file_path)

In [42]:
df.head()

,id,name,image_url,is_closed,url,review_count,rating,transactions,price,group_city,cuisines,latitude,longitude,state
0,a0IET3_yCFcO36OqGSsisg,Eataly NYC Flatiron,https://s3-media4.fl.yelpcdn.com/bphoto/1UDlnu...,False,https://www.yelp.com/biz/eataly-nyc-flatiron-n...,6101,4.0,"delivery, pickup",2,New York City,Italian,40.742101,-73.989922,NY
1,zj8Lq1T8KIC5zwFief15jg,Prince Street Pizza,https://s3-media4.fl.yelpcdn.com/bphoto/PfI8oV...,False,https://www.yelp.com/biz/prince-street-pizza-n...,5028,4.5,"delivery, pickup",1,New York City,Italian,40.723088,-73.994530,NY
2,16ZnHpuaaBt92XWeJHCC5A,Olio e Più,https://s3-media4.fl.yelpcdn.com/bphoto/CUpPgz...,False,https://www.yelp.com/biz/olio-e-pi%C3%B9-new-y...,4828,4.5,"pickup, delivery",2,New York City,Italian,40.733798,-73.999774,NY
3,vyoA8dxwScuMV_AsTcjQcg,L & B Spumoni Gardens,https://s3-media1.fl.yelpcdn.com/bphoto/hN5xKw...,False,https://www.yelp.com/biz/l-and-b-spumoni-garde...,4648,4.0,"delivery, pickup",2,New York City,Italian,40.594715,-73.981316,NY
4,22nKUyCIbpnzR6R3_g1ptQ,Carmine's Italian Restaurant - Times Square,https://s3-media1.fl.yelpcdn.com/bphoto/0UszeE...,False,https://www.yelp.com/biz/carmines-italian-rest...,4640,4.0,"delivery, pickup",2,New York City,Italian,40.757498,-73.986653,NY

In [79]:
y = df['rating']
x = df.drop(columns=['rating', 'image_url', 'url','name', 'id'])
#X = df.drop(columns='rating')
x.head()

,is_closed,review_count,transactions,price,group_city,cuisines,latitude,longitude,state
0,False,6101,"delivery, pickup",2,New York City,Italian,40.742101,-73.989922,NY
1,False,5028,"delivery, pickup",1,New York City,Italian,40.723088,-73.994530,NY
2,False,4828,"pickup, delivery",2,New York City,Italian,40.733798,-73.999774,NY
3,False,4648,"delivery, pickup",2,New York City,Italian,40.594715,-73.981316,NY
4,False,4640,"delivery, pickup",2,New York City,Italian,40.757498,-73.986653,NY

In [80]:
from sklearn import preprocessing
from sklearn import utils

lab = preprocessing.LabelEncoder()
y_transformed = lab.fit_transform(y)

In [81]:
X= x.fillna(0)

In [82]:
X.head(20)

,is_closed,review_count,transactions,price,group_city,cuisines,latitude,longitude,state
0,False,6101,"delivery, pickup",2,New York City,Italian,40.742101,-73.989922,NY
1,False,5028,"delivery, pickup",1,New York City,Italian,40.723088,-73.994530,NY
2,False,4828,"pickup, delivery",2,New York City,Italian,40.733798,-73.999774,NY
3,False,4648,"delivery, pickup",2,New York City,Italian,40.594715,-73.981316,NY
4,False,4640,"delivery, pickup",2,New York City,Italian,40.757498,-73.986653,NY
5,False,3812,delivery,2,New York City,Mexican,40.742255,-74.005958,NY
6,False,3317,"pickup, delivery",2,New York City,Mexican,40.722930,-73.994190,NY
7,False,3314,"delivery, pickup",2,New York City,Italian,40.704930,-73.933990,NY
8,False,3150,pickup,2,New York City,Italian,40.722766,-73.996233,NY
9,False,3138,"delivery, pickup",3,New York City,Italian,40.760830,-73.989810,NY
10,False,2909,"pickup, delivery",1,New York City,Italian,40.732063,-74.003655,NY
11,False,2844,0,2,New York City,Mexican,40.561161,-74.301079,NJ
12,False,2823,delivery,2,New York City,Mexican,40.757507,-73.987772,NY
13,False,2768,"restaurant_reservation, delivery, pickup",3,New York City,Italian,40.772193,-73.955615,NY
14,False,2670,"delivery, pickup",2,New York City,Italian,40.759876,-73.986767,NY
15,False,2603,"pickup, delivery",4,New York City,Italian,40.732283,-73.999284,NY
16,False,2593,"delivery, pickup",3,New York City,Italian,40.756410,-73.985470,NY
17,False,2490,"delivery, pickup",2,New York City,Italian,40.758230,-73.988360,NY
18,False,2392,"pickup, delivery",2,New York City,Italian,40.729431,-73.984541,NY
19,False,2360,"delivery, pickup",3,New York City,Italian,40.733720,-74.005130,NY

In [83]:
y[:10]

0    4.0
1    4.5
2    4.5
3    4.0
4    4.0
5    4.5
6    4.0
7    4.0
8    4.5
9    3.5
Name: rating, dtype: float64

In [84]:
X =pd.get_dummies(X).astype(int)

In [85]:
X.head()

,is_closed,review_count,price,latitude,longitude,transactions_0,transactions_delivery,"transactions_delivery, pickup","transactions_delivery, pickup, restaurant_reservation","transactions_delivery, restaurant_reservation",...,state_ON,state_OR,state_PA,state_PE,state_SC,state_TN,state_TX,state_VA,state_WA,state_WI
0,0,6101,2,40,-73,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,5028,1,40,-73,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,4828,2,40,-73,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,4648,2,40,-73,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,4640,2,40,-73,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [86]:
X.dtypes

is_closed       int32
review_count    int32
price           int32
latitude        int32
longitude       int32
                ...
state_TN        int32
state_TX        int32
state_VA        int32
state_WA        int32
state_WI        int32
Length: 103, dtype: object

In [87]:
X_train, X_test, y_train, y_test = train_test_split(X, y_transformed, random_state=1)

In [88]:
scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)

X_test_scaled = X_scaler.transform(X_test)

In [89]:
## K Nearest Neighbor method
from sklearn.neighbors import KNeighborsClassifier


knn = KNeighborsClassifier(n_neighbors=20)

knn.fit(X_train_scaled, y_train)

KNeighborsClassifier(n_neighbors=20)

In [90]:
y_pred = knn.predict(X_test_scaled)

In [91]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        16
           1       0.19      0.15      0.17        92
           2       0.20      0.22      0.21       219
           3       0.21      0.15      0.18       301
           4       0.23      0.10      0.14       502
           5       0.29      0.37      0.33      1138
           6       0.40      0.54      0.46      1620
           7       0.27      0.11      0.16       781
           8       0.31      0.25      0.27       118

    accuracy                           0.33      4787
   macro avg       0.23      0.21      0.21      4787
weighted avg       0.31      0.33      0.30      4787

c:\Users\calei\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\calei\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\calei\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))