In [140]:
# Import modules
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
from pathlib import Path
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier

In [141]:
file_path = Path("Data/cleaned_data.csv")
df= pd.read_csv(file_path)

In [142]:
# Create new columns and check if 'delivery', 'pickup', or 'restaurant_reservation' is in 'transactions'
df['delivery'] = df['transactions'].str.contains('delivery', case=False, na=False)
df['pickup'] = df['transactions'].str.contains('pickup', case=False, na=False)
df['restaurant_reservation'] = df['transactions'].str.contains('restaurant_reservation', case=False, na=False)

# Fill NaN values with False in the new columns
df['delivery'] = df['delivery'].fillna(False)
df['pickup'] = df['pickup'].fillna(False)
df['restaurant_reservation'] = df['restaurant_reservation'].fillna(False)

In [143]:
#df = df.drop(columns=['id', 'url', 'image_url','name'])
#df = df.fillna(0)
#df = pd.get_dummies(df).astype(int)

In [144]:
#matrix =df.corr()

#print(matrix)

In [145]:
y = df['price']
x = df.drop(columns=['price', 'image_url', 'url','name', 'id', 'transactions', 'is_closed'])
#X = df.drop(columns='rating')
x.head()

,review_count,rating,group_city,cuisines,latitude,longitude,state,delivery,pickup,restaurant_reservation
0,6101,4.0,New York City,Italian,40.742101,-73.989922,NY,True,True,False
1,5028,4.5,New York City,Italian,40.723088,-73.994530,NY,True,True,False
2,4828,4.5,New York City,Italian,40.733798,-73.999774,NY,True,True,False
3,4648,4.0,New York City,Italian,40.594715,-73.981316,NY,True,True,False
4,4640,4.0,New York City,Italian,40.757498,-73.986653,NY,True,True,False

In [146]:
from sklearn import preprocessing
from sklearn import utils

lab = preprocessing.LabelEncoder()
y_transformed = lab.fit_transform(y)

In [147]:
X= x.fillna(0)

In [148]:
X.head()

,review_count,rating,group_city,cuisines,latitude,longitude,state,delivery,pickup,restaurant_reservation
0,6101,4.0,New York City,Italian,40.742101,-73.989922,NY,True,True,False
1,5028,4.5,New York City,Italian,40.723088,-73.994530,NY,True,True,False
2,4828,4.5,New York City,Italian,40.733798,-73.999774,NY,True,True,False
3,4648,4.0,New York City,Italian,40.594715,-73.981316,NY,True,True,False
4,4640,4.0,New York City,Italian,40.757498,-73.986653,NY,True,True,False

In [149]:
X =pd.get_dummies(X).astype(int)

In [150]:
X.head()

,review_count,rating,latitude,longitude,delivery,pickup,restaurant_reservation,group_city_Albuquerque,group_city_Atlanta,group_city_Austin,...,state_ON,state_OR,state_PA,state_PE,state_SC,state_TN,state_TX,state_VA,state_WA,state_WI
0,6101,4,40,-73,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5028,4,40,-73,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4828,4,40,-73,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4648,4,40,-73,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4640,4,40,-73,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [151]:
X.dtypes

review_count    int32
rating          int32
latitude        int32
longitude       int32
delivery        int32
                ...
state_TN        int32
state_TX        int32
state_VA        int32
state_WA        int32
state_WI        int32
Length: 89, dtype: object

In [152]:
X_train, X_test, y_train, y_test = train_test_split(X, y_transformed, random_state=42)

In [153]:
scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)

X_test_scaled = X_scaler.transform(X_test)

In [157]:
## K Nearest Neighbor method
from sklearn.neighbors import KNeighborsRegressor


knn = KNeighborsRegressor(n_neighbors=50)

knn.fit(X_train_scaled, y_train)

KNeighborsRegressor(n_neighbors=50)

In [158]:
y_pred = knn.predict(X_test_scaled)

In [161]:
from sklearn import metrics
import numpy as np

#print('Mean Absolute Error (MAE):', metrics.mean_absolute_error(y_test, predictions))
#print('Mean Squared Error (MSE):', metrics.mean_squared_error(y_test, predictions))
#print('Root Mean Squared Error (RMSE):', np.sqrt(metrics.mean_squared_error(y_test, predictions)))
#mape = np.mean(np.abs((y_test - predictions) / np.abs(y_test)))
#print('Mean Absolute Percentage Error (MAPE):', round(mape * 100, 2))
#print('Accuracy:', round(100*(1 - mape), 2))


# Calculate error metrics
mae = metrics.mean_absolute_error(y_test, y_pred)
mse = metrics.mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print(f'Mean Absolute Error (MAE): {mae:.2f}')
print(f'Mean Squared Error (MSE): {mse:.2f}')
print(f'Root Mean Squared Error (RMSE): {rmse:.2f}')

Mean Absolute Error (MAE): 0.49
Mean Squared Error (MSE): 0.40
Root Mean Squared Error (RMSE): 0.63

In [156]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.57      0.43      0.49       630
           1       0.55      0.50      0.52      1450
           2       0.67      0.81      0.73      2499
           3       0.00      0.00      0.00       193
           4       0.00      0.00      0.00        15

    accuracy                           0.63      4787
   macro avg       0.36      0.35      0.35      4787
weighted avg       0.59      0.63      0.61      4787

c:\Users\calei\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\calei\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\calei\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))